.exhibition {

}

.exhibition > .name {
  color: #00d8ff;
  text-align: center;
}

.exhibition > .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
  grid-gap: 15px;
}
